@charset "UTF-8";
.brokeridge {
  position: relative;
  padding-top: 20.3rem;
  margin-bottom: 0;
  overflow: hidden;
}
.brokeridge-gradient {
  top: 0;
  position: absolute;
  width: 101.5625vw;
  z-index: -1;
  height: 100.333333vw;
}
.brokeridge-gradient img {
  height: 100%;
}
.brokeridge_summary {
  margin-bottom: 0;
}
.brokeridge_summary__container {
  position: relative;
  padding-left: 9.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 26.7rem;
}
.brokeridge_summary__text {
  margin-left: 26rem;
  width: 56.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12rem;
  color: #fff;
}
.brokeridge_summary__text-comment {
  position: absolute;
  top: 0;
  left: 9rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.4rem;
  color: #f9fbfe;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}
.brokeridge_summary__text-comment svg {
  height: 4.5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.brokeridge_summary__text-comment svg path {
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}
.brokeridge_summary__text-comment:hover {
  color: #d01181;
}
.brokeridge_summary__text-comment:hover svg path {
  fill: #d01181;
}
.brokeridge_summary__text-title {
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.6041666vw;
  color: #ffffff;
}
.brokeridge_summary__text-description {
  width: 90%;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.5;
  color: #ffffff;
}
.brokeridge_summary-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 93.5rem;
  height: 81.1rem;
}
.brokeridge_summary-img img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 32% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 32% 100%, 0 70%);
}
.brokeridge_summary__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 67.395833vw;
  height: 46.6145833vw;
}
.brokeridge_summary__info-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.brokeridge_summary__info_last_brokeridge {
  padding-right: 9.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.7rem;
}
.brokeridge_summary__info_last_brokeridge-title {
  padding-bottom: 1.3rem;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.25vw;
  color: #ffffff;
}
.brokeridge_summary__info_last_brokeridge-img {
  width: 16.458333vw;
  height: 8.90625vw;
}
.brokeridge_summary__info_last_brokeridge_list {
  width: 16.458333vw;
  height: 8.90625vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.brokeridge_summary__info_last_brokeridge_list-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  padding: 1.3rem 0rem;
  border-bottom: 1px solid #a1acb9;
}
.brokeridge_summary__info_last_brokeridge_list-item:last-child {
  border: none;
}
.brokeridge_summary__info_last_brokeridge_list-description {
  font-weight: 600;
  font-size: 0.9375vw;
  color: #222222;
}
.brokeridge_summary__info_last_brokeridge_list-chapter {
  font-weight: 500;
  font-size: 0.78125vw;
  color: #d01181;
}
.brokeridge_summary__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  padding: 5rem 9.8rem 5rem 5rem;
  padding-left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  background-color: #ffffff;
}
.brokeridge_summary__projects-title {
  font-weight: 700;
  font-size: 1.25vw;
  color: #d01181;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.brokeridge_summary__projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3.4rem;
}
.brokeridge_summary__projects-pagination {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.8rem;
}
.brokeridge_summary__projects-pagination svg {
  width: 2.34375vw;
}
.brokeridge_summary__project_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 9.21875vw;
  gap: 1.8rem;
}
.brokeridge_summary__project-img {
  width: 7.1354166vw;
  height: 7.1354166vw;
}
.brokeridge_summary__project-title {
  font-weight: 500;
  font-size: 0.9375vw;
  color: #a1acb9;
}
.brokeridge_summary__project-description {
  font-weight: 600;
  font-size: 0.9375vw;
  color: #222222;
}
.brokeridge_company {
  padding-top: 20rem;
  margin-bottom: 0;
}
.brokeridge_company-title {
  margin-bottom: 7.8rem;
  font-family: "akzidenz-grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6041666vw;
  color: #f9fbfe;
}
.brokeridge_company__show_more {
  position: relative;
  margin: 0 auto;
  margin-top: 7.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  width: 7.8125vw;
  height: 7.8125vw;
  background-color: #d01181;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.brokeridge_company__show_more::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.brokeridge_company__show_more:hover {
  background-color: #ffffff;
}
.brokeridge_company__show_more:hover .brokeridge_company__show_more-text {
  color: #d01181;
}
.brokeridge_company__show_more:hover svg path {
  fill: #d01181;
}
.brokeridge_company__show_more:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
}
.brokeridge_company__show_more-icon {
  position: relative;
  z-index: 2;
}
.brokeridge_company__show_more svg {
  width: 100%;
  height: 100%;
}
.brokeridge_company__show_more-text {
  width: 4.8958333vw;
  margin-bottom: -2rem;
  font-weight: 600;
  font-size: 0.78125vw;
  text-align: center;
  text-transform: uppercase;
  color: #f9fbfe;
  z-index: 2;
}
.brokeridge_company__show_more-icon {
  width: 1.40625vw;
  height: 1.40625vw;
}
.brokeridge_company_container {
  padding: 0px 9.8rem;
}
.brokeridge_company__brokeridge {
  margin-bottom: 20rem;
}
.brokeridge_company__brokeridge_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}
.brokeridge_company__brokeridge_list:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.brokeridge_company__brokeridge_list-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.brokeridge_company__brokeridge_list-gradient img {
  width: 100%;
  height: 100%;
}
.brokeridge_company__brokeridge_list-item {
  width: 38.3333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brokeridge_company__brokeridge_list_description {
  position: relative;
  width: 100%;
}
.brokeridge_company__brokeridge_list_description-title {
  position: relative;
  margin-bottom: 2.4rem;
  font-weight: 600;
  font-size: 1.5625vw;
  line-height: 1.4;
  color: #f9fbfe;
  z-index: 2;
}
.brokeridge_company__brokeridge_list_description-text {
  position: relative;
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 1.4;
  color: #f9fbfe;
  z-index: 2;
}

.btn__submit {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  gap: 3rem;
  font-size: 0.78125vw;
  cursor: pointer;
}
.container_svg {
  position: relative;
  width: 47px; /* Ширина иконки */
  height: 16px; /* Высота иконки */
}

.arrow-right {
  fill: #a1acb9; /* Исходный цвет иконки */
}

.arrow-fill path {
  fill: #ff0000; /* Цвет, которым будет заполняться иконка */
  opacity: 0;
  -webkit-transform-origin: right center;
          transform-origin: right center; /* Определение точки трансформации */
  -webkit-transform: scaleX(0);
          transform: scaleX(0); /* Изначальное масштабирование по горизонтали */
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; /* Плавное изменение трансформации и прозрачности */
}

.container_arrow-fill {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.container_svg:hover .arrow-fill path {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); /* Масштабирование до полной заполненности */
}

@media (max-width: 48em) {
  .brokeridge {
    padding-top: 29.8rem;
  }
  .brokeridge_summary {
    margin-bottom: 18rem;
  }
  .brokeridge_summary__container {
    padding: 0rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brokeridge_summary__text {
    width: 100%;
  }
  .brokeridge_summary__text-comment {
    width: 38.933333vw;
    font-size: 4.2666vw;
  }
  .brokeridge_summary__text-title {
    font-size: 7.2vw;
  }
  .brokeridge_summary__text-description {
    font-size: 3.733vw;
  }
  .brokeridge_summary__info {
    margin-top: 8rem;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brokeridge_summary__info-img {
    position: relative;
    margin-bottom: 8rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brokeridge_summary__info_last_brokeridge {
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 4rem;
  }
  .brokeridge_summary__info_last_brokeridge-title {
    font-size: 4.8vw;
  }
  .brokeridge_summary__info_last_brokeridge-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .brokeridge_summary__info_last_brokeridge_list {
    width: 100%;
    height: 100%;
  }
  .brokeridge_summary__info_last_brokeridge_list-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 2.6rem 0rem;
    gap: 1.8rem;
  }
  .brokeridge_summary__info_last_brokeridge_list-item:last-child {
    padding-bottom: 3rem;
  }
  .brokeridge_summary__info_last_brokeridge_list-description {
    font-size: 4.2666vw;
    color: #ffffff;
  }
  .brokeridge_summary__info_last_brokeridge_list-chapter {
    font-size: 3.733vw;
  }
  .brokeridge_summary__projects {
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 4rem;
  }
  .brokeridge_summary__projects-title {
    font-size: 6.4vw;
    line-height: 1.4;
    color: #d01181;
    -webkit-transform: none;
            transform: none;
  }
  .brokeridge_summary__projects-item {
    height: 32.53333vw;
  }
  .brokeridge_summary__projects-pagination svg {
    width: 12vw;
  }
  .brokeridge_summary__project-img {
    width: 36.53333vw;
    height: 100%;
  }
  .brokeridge_summary__project-img img {
    height: 100%;
  }
  .brokeridge_summary__project_info {
    width: 41.6vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .brokeridge_summary__project-title {
    font-size: 4.2666vw;
  }
  .brokeridge_summary__project-description {
    font-size: 4.2666vw;
    line-height: 1.4;
  }
  .brokeridge_company_container {
    padding: 0rem 2rem;
  }
  .brokeridge_company-title {
    font-size: 7.2vw;
    margin-bottom: 8rem;
  }
  .brokeridge_company__filter {
    padding: 3rem 4rem;
  }
  .brokeridge_company__filter-item {
    font-size: 4.2666vw;
  }
  .brokeridge_company__brokeridge_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8rem;
  }
  .brokeridge_company__brokeridge_list-item {
    width: 100%;
  }
  .brokeridge_company__brokeridge_list_description {
    width: 89.33333vw;
  }
  .brokeridge_company__brokeridge_list_description-chapter {
    padding: 2rem;
    font-size: 3.733vw;
  }
  .brokeridge_company__brokeridge_list_description-title {
    font-size: 4.8vw;
  }
  .brokeridge_company__brokeridge_list_description-text {
    font-size: 3.733vw;
  }
  .brokeridge_company__show_more {
    width: 30.933vw;
    height: 30.933vw;
    gap: 2rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .brokeridge_company__show_more-text {
    margin-bottom: 0;
    width: 16vw;
    font-size: 2.9333vw;
  }
  .brokeridge_company__show_more-icon {
    width: 5.3333vw;
    height: 5.3333vw;
  }
}