.news_details {
  padding-top: 19.3rem;
}
.news_details_container {
  padding: 0rem 9.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news_details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 59.5833333333vw;
}
.news_details__info-subtitle {
  padding-bottom: 1.6rem;
  width: 7.6041666vw;
  font-weight: 600;
  font-size: 0.9375vw;
  color: #f9fbfe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.news_details__info-title {
  margin: 4.1rem 0rem 7.8rem 0rem;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.604166vw;
  color: #ffffff;
}
.news_details__info-img {
  width: 59.58333vw;
  height: 26.9270833vw;
  margin-bottom: 2.8rem;
}
.news_details__info-img img {
  width: 100%;
  height: 100%;
}
.news_details__info-chapter {
  font-weight: 500;
  font-size: 0.9375vw;
  color: #d01181;
  margin-bottom: 4.8rem;
}
.news_details__info-text {
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.5;
  color: #f9fbfe;
}
.news_details__other_news {
  width: 24.9479166667vw;
}
.news_details__other_news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.4rem;
}
.news_details__other_news-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 3.4rem;
  border-bottom: 1px solid #a1acb9;
}
.news_details__other_news-chapter {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 1.4;
  color: #d01181;
}
.news_details__other_news-title {
  font-family: "akzidenz-grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.2;
  color: #ffffff;
}
.news_details__other_news-text {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 1.4;
  color: #a1acb9;
}