@-webkit-keyframes thumbAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes thumbAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.benefits {
  padding-top: 13.5rem;
}
.benefits_container {
  padding-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 9.7rem;
  -webkit-animation: thumbAnim 2s ease;
          animation: thumbAnim 2s ease;
}
.benefits_services {
  padding-bottom: 20rem;
  -webkit-animation: thumbAnim 2s ease;
          animation: thumbAnim 2s ease;
  overflow: hidden;
}
.benefits_services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9rem;
}
.benefits_services__title_container {
  position: relative;
  width: 39.53125vw;
}
.benefits_services__title-title {
  font-family: "akzidenz-grotesk";
  font-weight: 500;
  font-size: 2.604166vw;
  line-height: 1.3;
  color: #f9fbfe;
}
.benefits_services__title-subtitle {
  position: absolute;
  top: 9rem;
  left: 26rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 150%;
  color: #f9fbfe;
}
.benefits_services__show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1rem;
}
.benefits_services_list {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5rem;
}
.benefits_services_list-service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  width: 20.52083vw;
  height: 100%;
  cursor: pointer;
}
.benefits_services_list-service:hover .service_img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.benefits_services_list-service:hover .service__title {
  color: #d01181;
}

.aim {
  width: 19.270833vw;
  padding-top: 18.5rem;
}
.aim__img {
  position: relative;
  overflow: hidden;
}
.aim__img img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 0% 99%, 100% 99%, 100% 8%, 90% 0);
          clip-path: polygon(0% 0%, 0% 99%, 100% 99%, 100% 8%, 90% 0);
}
.aim__description {
  padding-left: 9.8rem;
  color: #f9fbfe;
  padding-top: 3.2rem;
}
.aim__title {
  font-weight: 700;
  font-size: 1.25vw;
  padding-bottom: 1rem;
}
.aim__subscription {
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 150%;
}

.complex {
  position: relative;
  width: 74.3229166vw;
}
.complex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 7.8125vw;
  height: 7.8125vw;
  border-radius: 50%;
  background: #d01181;
}
.complex_signature {
  left: -44rem;
  position: absolute;
  bottom: 39.9rem;
  font-size: 3.177083vw;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.complex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 8.8rem 9.8rem 12.4rem 8.8rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.complex__subscription {
  width: 30.04166vw;
}
.complex__subscription-subtitle {
  font-weight: 600;
  font-size: 0.9375vw;
  color: #d01181;
  margin-bottom: 3.2rem;
}
.complex__subscription-title {
  font-weight: 500;
  font-family: "akzidenz-grotesk";
  font-size: 2.60416vw;
  line-height: 1.3;
  color: #222222;
  margin-bottom: 7.5rem;
}
.complex__subscription-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 0.78125vw;
  text-transform: uppercase;
  color: #f9fbfe;
}
.complex_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.complex_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.complex__advantages {
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
  padding-left: 20rem;
  overflow: hidden;
}
.complex__advantages__list {
  width: 54vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6rem;
}
.complex__advantages__list__wrapper {
  gap: 0.6rem;
}
.complex__advantages__list .swiper-slide {
  width: auto;
  height: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.complex__advantages__list .advantages__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  padding: 3.3rem 2.4rem 3.2rem 2.4rem;
  background: #f9fbfe;
  border-radius: 2px;
  text-align: left;
}
.complex__advantages__list .advantages__list__item .item-title {
  font-family: "akzidenz-grotesk";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: #101010;
}
.complex__advantages__list .advantages__list__item .item-subscription {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 140%;
  color: #a1acb9;
}

.gradient_blur {
  position: absolute;
  width: 100%;
  top: 15.2rem;
  height: 196.1rem;
  z-index: -1;
}
.gradient_blur img {
  width: 100%;
  height: 100%;
}

.service_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.service_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service__title {
  font-weight: 600;
  font-size: 1.5625vw;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.show_more-all {
  font-weight: 600;
  font-size: 0.78125vw;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.697916666vw;
  height: 3.697916666vw;
  padding: 2.8rem;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes first {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes first {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes second {
  0% {
    width: 29.2rem;
    height: 22.917rem;
    top: 43rem;
    left: 49rem;
  }
  100% {
    width: 29.198rem;
    height: 20.2rem;
    top: 56rem;
    left: 0;
  }
}
@keyframes second {
  0% {
    width: 29.2rem;
    height: 22.917rem;
    top: 43rem;
    left: 49rem;
  }
  100% {
    width: 29.198rem;
    height: 20.2rem;
    top: 56rem;
    left: 0;
  }
}
@-webkit-keyframes third {
  0% {
    width: 15.20833vw;
    height: 20.272rem;
    top: 56rem;
  }
  100% {
    top: 0;
    left: 0;
    width: 49.3rem;
    height: 34.2rem;
  }
}
@keyframes third {
  0% {
    width: 15.20833vw;
    height: 20.272rem;
    top: 56rem;
  }
  100% {
    top: 0;
    left: 0;
    width: 49.3rem;
    height: 34.2rem;
  }
}
@-webkit-keyframes last {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes last {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim1 {
  -webkit-animation: first 0.5s ease;
          animation: first 0.5s ease;
}

.anim2 {
  -webkit-animation: third 0.5s ease;
          animation: third 0.5s ease;
}

.anim3 {
  -webkit-animation: second 0.5s ease;
          animation: second 0.5s ease;
}

.last {
  -webkit-animation: last 0.5s ease;
          animation: last 0.5s ease;
}

.projects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8.2rem;
}
.projects__title-title {
  font-family: "akzidenz-grotesk";
  font-weight: 500;
  font-size: 2.604166vw;
  line-height: 130%;
  color: #f9fbfe;
}
.projects__title__show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1rem;
}
.projects__title__show_more .show_more-all {
  font-weight: 600;
  font-size: 0.78125vw;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.projects__title__show_more .btn-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.697916666vw;
  height: 3.697916666vw;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.projects_slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 9.8rem;
}
.projects_slider__thumbs {
  position: relative;
  width: 40.885416vw;
  height: 100%;
}
.projects_slider__thumbs-item {
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  gap: 2rem;
  color: white;
  opacity: 0;
}
.projects_slider__thumbs-item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 4rem;
}
.projects_slider__thumbs-item:first-child {
  position: absolute;
  right: -96.5rem;
  width: 84.7rem;
  height: 81.8rem;
  opacity: 1;
}
.projects_slider__thumbs-item:first-child img {
  width: 100%;
  height: 100%;
}
.projects_slider__thumbs-item:nth-child(2) {
  position: absolute;
  width: 100%;
  padding-bottom: 11.8rem;
  width: 49.3rem;
  opacity: 1;
}
.projects_slider__thumbs-item:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.projects_slider__thumbs-item:nth-child(3) {
  position: absolute;
  width: 15.20833vw;
  top: 56rem;
  opacity: 1;
}
.projects_slider__thumbs-item:nth-child(3) img {
  width: 100%;
  height: 100%;
}
.projects_slider__thumbs-item.last {
  position: absolute;
  width: 29.2rem;
  top: 43rem;
  left: 49rem;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.projects_slider__thumbs-item.last img {
  width: 100%;
  height: 100%;
}
.projects_slider__thumbs-item:nth-child(4) {
  position: absolute;
  width: 29.2rem;
  top: 43rem;
  left: 49rem;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.projects_slider__thumbs-item:nth-child(4) img {
  width: 100%;
  height: 100%;
}

.swiper_slide__title {
  position: absolute;
  top: 6rem;
  left: 6.7rem;
  font-weight: 600;
  font-size: 1.5625vw;
  line-height: 1.4;
  color: #f9fbfe;
}

.slide_item {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}
.slide_item-name {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.4;
  padding: 7.7rem 4.2rem 9.4rem 5rem;
}
.slide_item__square {
  padding: 7rem 4.2rem;
}
.slide_item .square_name {
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.5;
}
.slide_item .square__numb {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 140%;
}
.slide_item__description {
  text-align: initial;
  padding: 2rem 4.2rem;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22.6041666vw;
          flex: 1 0 22.6041666vw;
  color: #101010;
}

.last_news {
  margin-bottom: 0;
  overflow: hidden;
}
.last_news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.8rem;
}
.last_news__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.last_news__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}
.last_news__navigation-prev {
  position: relative;
  width: 4.5rem;
  cursor: pointer;
}
.last_news__navigation-prev svg {
  width: 100%;
  height: 100%;
}
.last_news__navigation-prev:hover .arrow_fill-prev {
  position: absolute;
  top: 0;
  left: 0;
}
.last_news__navigation-prev:hover .arrow_fill-prev svg path {
  stroke: #d01181;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
.last_news__navigation-next {
  position: relative;
  width: 4.5rem;
  cursor: pointer;
}
.last_news__navigation-next svg {
  width: 100%;
  height: 100%;
}
.last_news__navigation-next:hover .arrow_fill-next {
  position: absolute;
  top: 0;
  left: 0;
}
.last_news__navigation-next:hover .arrow_fill-next svg path {
  stroke: #d01181;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
.last_news__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.last_news__list-item {
  position: relative;
  width: 54.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  cursor: pointer;
}
.last_news__list-item:hover .last_news__list_bottom-gradient {
  width: 220%;
  height: 150%;
  left: -62rem;
  top: -25rem;
}
.last_news__list-item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28rem;
  padding: 4.5rem 3.7rem;
}
.last_news__list-img {
  position: relative;
  width: 100%;
  height: 24rem;
}
.last_news__list-img img {
  height: 100%;
}
.last_news__list-title {
  width: 22.802083vw;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.4;
  color: #ffffff;
  text-align: left;
}
.last_news__list-title::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 14.6rem;
  height: 4.8rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
}
.last_news__list-title p {
  text-align: left;
  padding: 0.6rem 3.7rem;
}
.last_news__list_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.last_news__list_bottom-chapter {
  width: 8.6rem;
  font-family: "akzidenz-grotesk";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.last_news__list_bottom-text {
  width: 27.2rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #ffffff;
}
.last_news__list_bottom-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.last_news__list_bottom-gradient img {
  width: 157%;
  height: 104%;
}

.swiper-slider {
  position: relative;
  width: 49.322916vw;
  height: 42.604166vw;
  overflow: hidden;
  -webkit-animation: thumbAnim 2s ease;
          animation: thumbAnim 2s ease;
}

.swiper-thumbs {
  width: 20%;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper-thumbs .swiper-slide {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

@media (max-width: 48em) {
  .container {
    padding: 0rem 2rem;
  }
  .benefits {
    position: relative;
    padding-top: 27.2rem;
    overflow: hidden;
  }
  .benefits .gradient_blur {
    width: 268vw;
    top: 18.6rem;
    height: 416, 2346vw;
    z-index: -1;
    left: -38.4rem;
  }
  .benefits_services {
    padding-top: 2.5rem;
  }
  .benefits_services__show_more .show_more-all {
    font-size: 2.93333vw;
  }
  .benefits_services__show_more .btn-show {
    padding: 0rem;
    width: 14.4vw;
    height: 14.4vw;
  }
  .benefits_services__show_more .btn-show svg {
    width: 4.266vw;
  }
  .benefits_services__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6.5rem;
  }
  .benefits_services__title-title {
    font-size: 7.2vw;
  }
  .benefits_services__title-subtitle {
    position: relative;
    top: auto;
    left: auto;
    font-size: 3.7333vw;
  }
  .benefits_services__title_container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
    width: 100%;
  }
  .benefits_services_list {
    gap: 2rem;
  }
  .benefits_services_list-service {
    width: 73.86666vw;
  }
  .benefits_services__more {
    top: 20rem;
    left: 48rem;
  }
  .benefits_services__more .btn-detailed {
    gap: 0.5rem;
    width: 14.4vw;
    height: 14.4vw;
  }
  .benefits_services__more .btn-detailed svg {
    width: 3.2666vw;
    height: 3.2666vw;
  }
  .benefits_services__more .btn-detailed .btn-services_more {
    font-size: 1.78125vw;
  }
  .aim {
    display: none;
  }
  .complex {
    width: 100%;
  }
  .complex_signature {
    bottom: auto;
    top: -6rem;
    font-size: 50px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: -25rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .complex__container {
    padding: 6.3rem 2rem 8rem 2rem;
  }
  .complex__subscription {
    width: 100%;
  }
  .complex__subscription-subtitle {
    margin-bottom: 1.2rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #d01181;
  }
  .complex__subscription-title {
    font-family: "akzidenz-grotesk";
    font-weight: 500;
    font-size: 5.4rem;
    line-height: 1.25;
    color: #222222;
  }
  .complex__subscription-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .complex__subscription-btn .btn-detailed {
    width: 30.9333vw;
    height: 30.9333vw;
    gap: 2rem;
  }
  .complex__subscription-btn .complex-btn-text {
    font-size: 2.933333vw;
  }
  .complex__subscription-btn svg {
    width: 5.33333vw;
  }
  .complex__logo {
    display: none;
  }
  .complex__advantages {
    padding-left: 2rem;
  }
  .complex__advantages__list {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .complex__advantages__list__wrapper {
    gap: 0;
  }
  .complex .advantages__list__item {
    padding: 3rem 6rem 8rem 4rem;
  }
  .complex .advantages__list__item .item-title {
    font-size: 4.8vw;
    line-height: 1.2;
  }
  .complex .advantages__list__item .item-subscription {
    font-size: 3.73333vw;
  }
  .service_img {
    width: inherit;
  }
  .service__title {
    font-size: 4.8vw;
  }
  .projects__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
    padding-bottom: 8.2rem;
  }
  .projects__title-title {
    font-size: 7.2vw;
  }
  .projects__title__show_more .show_more-all {
    font-size: 2.9333333vw;
  }
  .projects__title__show_more .btn-show {
    padding: 0rem;
    width: 14.4vw;
    height: 14.4vw;
  }
  .projects__title__show_more .btn-show svg {
    width: 4.266vw;
  }
  .projects_slider__thumbs {
    display: none;
  }
  .projects_slider .swiper-nav {
    padding-top: 5.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 4.8rem;
  }
  .projects_slider .swiper-nav .swiper-prev {
    width: 9rem;
  }
  .projects_slider .swiper-nav .swiper-prev svg {
    width: 100%;
    height: 100%;
  }
  .projects_slider_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0rem;
  }
  .projects_slider .swiper-container {
    width: 93.333vw;
    height: 144vw;
    margin: 0 auto;
    padding: 0;
  }
  .projects_slider .swiper-container .swiper_slide__title {
    top: 4rem;
    left: 4rem;
    font-size: 4.8vw;
  }
  .slide_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0rem 4rem;
  }
  .slide_item-name {
    width: 100%;
    padding: 5rem 0rem 3.5rem 0rem;
    font-size: 4.8vw;
    border-bottom: 1px solid rgba(72, 87, 141, 0.2);
  }
  .slide_item__square {
    width: 100%;
    padding: 1rem 0rem 1.25rem 0rem;
    border-bottom: 1px solid rgba(72, 87, 141, 0.2);
  }
  .slide_item__square .square_name {
    font-size: 4.2666vw;
    color: #a1acb9;
  }
  .slide_item__square .square__numb {
    font-size: 4.8vw;
  }
  .slide_item__description {
    padding: 2rem 0rem 4rem 0rem;
    font-size: 4.2666vw;
  }
  .btn-detailed::before {
    -webkit-box-shadow: inset 0 0 0 12rem #ffffff;
            box-shadow: inset 0 0 0 12rem #ffffff;
  }
  .last_news_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7.8rem;
  }
  .last_news__title {
    font-size: 5.4rem;
    line-height: 1.2;
  }
  .last_news__navigation {
    display: none !important;
  }
  .last_news__list-item {
    position: relative;
    width: 54.2rem;
    height: 83.8rem;
  }
  .last_news__list-item:hover .last_news__list_bottom-gradient {
    width: 158%;
    height: 116%;
    left: 0;
    top: -10rem;
    -webkit-transform: none;
            transform: none;
  }
  .last_news__list-item_container {
    height: 43.2rem;
    padding: 0;
  }
  .last_news__list-img {
    width: 100%;
    height: 40.4rem;
  }
  .last_news__list-img img {
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 0 73%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 0 73%);
  }
  .last_news__list-title {
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
    font-size: 3.6rem;
    font-family: "akzidenz-grotesk";
    font-weight: 500;
    max-height: 18rem;
    overflow: hidden;
  }
  .last_news__list-title::after {
    bottom: 30.9rem;
    left: 0;
  }
  .last_news__list_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    gap: 2.2rem;
    padding: 0rem 2rem 4.6rem 2rem;
  }
  .last_news__list_bottom-gradient {
    width: 158%;
    height: 116%;
    z-index: -1;
    -webkit-transform: rotate(31deg) translate(-12.8rem, 4.4rem);
            transform: rotate(31deg) translate(-12.8rem, 4.4rem);
  }
  .last_news__list_bottom-gradient img {
    width: 157%;
    height: 104%;
  }
  .last_news__list_bottom-chapter {
    text-transform: lowercase;
    width: 10rem;
    font-size: 3.2rem;
  }
  .last_news__list_bottom-text {
    width: 100%;
    font-size: 2.8rem;
    line-height: 1.35;
  }
}