@charset "UTF-8";
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide-thumb-active {
  /* стили для активной миниатюры */
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 7.7604166vw !important;
  height: 7.7604166vw !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.2rem 4.9rem 4.8rem 4.9rem;
  gap: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 2.1875vw;
}
.swiper-button-next .btn-next,
.swiper-button-next .btn-back,
.swiper-button-prev .btn-next,
.swiper-button-prev .btn-back {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f9fbfe;
}
.swiper-button-next .back,
.swiper-button-prev .back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  background-color: #ccc;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  left: auto !important;
  right: 20rem !important;
  top: auto !important;
  bottom: 20rem !important;
}

.swiper-button-prev {
  left: auto !important;
  left: 20rem !important;
  top: auto !important;
  bottom: 20rem !important;
}

@media (max-width: 48em) {
  .swiper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}