@font-face {
  font-family: "Euclid Circular A";
  font-weight: 300;
  src: url("../fonts/Euclid Circular A Light.ttf") format("ttf");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 400;
  src: url("../fonts/Euclid Circular A Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 500;
  src: url("../fonts/Euclid Circular A Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 600;
  src: url("../fonts/Euclid Circular A SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Euclid Circular A";
  font-weight: 700;
  src: url("../fonts/Euclid Circular A Bold.ttf") format("ttf");
}
.contacts_form {
  position: relative;
  padding-top: 20.2rem;
  padding-bottom: 20rem;
  overflow: hidden;
}
.contacts_form_gradient {
  position: absolute;
  width: 17.1354166vw;
  height: 12.08333vw;
  left: 23rem;
  top: 38rem;
  z-index: -1;
  -webkit-filter: blur(10rem);
  filter: blur(8rem);
  -webkit-transform: rotate(-154.06deg);
          transform: rotate(-154.06deg);
}
.contacts_form_gradient svg {
  width: 100%;
  height: 100%;
}
.contacts_form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.7rem;
}
.contacts_form__info-request_title {
  display: none;
  font-size: 7.2vw;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  color: #f9fbfe;
}
.contacts_form__info-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 600;
  font-size: 0.9375vw;
  line-height: 1.2;
  color: #d01181;
  width: 12.0479166vw;
}
.contacts_form__info-title span span {
  display: inherit;
}
.contacts_form__info-img {
  width: 38.489583vw;
}
.contacts_form__info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contacts_form__info_description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5.6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
  font-size: 1.25vw;
  text-align: right;
  color: #ffffff;
}
.contacts_form__info__img_gradient {
  position: absolute;
  right: -2rem;
  z-index: -1;
  top: -10rem;
  width: 27.8125vw;
}
.contacts_form__info__img_gradient img {
  width: 100%;
  height: 100%;
}
.contacts_form__info-info {
  width: 18.4375vw;
  margin-left: auto;
}
.contacts_form__info__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.604166666vw;
  line-height: 130%;
  color: #ffffff;
}
.contacts_form__info__email svg {
  width: 2.2395833vw;
}

.btn-about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.6979166vw;
  height: 3.6979166vw;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.btn-about svg {
  width: 1.145833vw;
  height: 1.145833vw;
  z-index: 2;
}
.btn-about svg path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-about::before, .btn-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: 1;
}
.btn-about:hover svg path {
  fill: #fff;
}
.btn-about::after {
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
          box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-about::before {
  background: #d01181;
  -webkit-box-shadow: inset 0 0 0 60px #ffffff;
          box-shadow: inset 0 0 0 60px #ffffff;
}
.btn-about:hover::before {
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
          box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-about:hover::after {
  -webkit-box-shadow: inset 0 0 0 1px #d01181;
          box-shadow: inset 0 0 0 1px #d01181;
}

.email-contacts_form {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.email-contacts_form:hover {
  color: #d01181;
}

.request {
  padding: 3.2rem 0rem 2.5rem 0rem;
}
.request__title {
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.60416666vw;
  line-height: 1.3;
  color: #f9fbfe;
}
.request_form {
  padding-top: 7.8rem;
}
.request_form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.request_form__form-inp {
  width: 12.760416vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 0.9375vw;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.6rem 2rem;
}
.request_form__form-inp:focus {
  border: 1px solid #d01181;
}
.request_form__form-inp:last-of-type {
  width: 37.65625vw;
}
.request_form__form-inp::-webkit-input-placeholder {
  color: #fff;
}
.request_form__form-inp::-moz-placeholder {
  color: #fff;
}
.request_form__form-inp:-ms-input-placeholder {
  color: #fff;
}
.request_form__form-inp::-ms-input-placeholder {
  color: #fff;
}
.request_form__form-inp::placeholder {
  color: #fff;
}
.request_form__form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}
.request_form__form__btn-text {
  display: none;
  font-weight: 600;
  font-size: 2.93333vw;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-detailed {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.697916666vw;
  height: 3.697916666vw;
  background: #d01181;
  border-radius: 50%;
}
.btn-detailed svg {
  width: 0.9375vw;
}

@media (max-width: 48em) {
  .contacts_form {
    padding-top: 14rem;
    padding-bottom: 18rem;
  }
  .contacts_form_gradient {
    display: block;
    width: 98.4vw;
    height: 70.9333vw;
    bottom: 27rem;
    top: auto;
    left: -20rem;
    z-index: -1;
    -webkit-filter: blur(10rem);
    filter: blur(11rem);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .contacts_form__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts_form__info-request_title {
    display: block;
  }
  .contacts_form__info-title {
    width: 100%;
    font-size: 4.8vw;
  }
  .contacts_form__info-title span span {
    display: inline;
  }
  .contacts_form__info-img {
    width: 66.66vw;
  }
  .contacts_form__info_description {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .contacts_form__info__img_gradient {
    width: 82.6666vw;
    width: 110.133vw;
    top: -28rem;
    right: auto;
    left: 0;
  }
  .contacts_form__info__img_gradient img {
    -webkit-filter: blur(27px);
            filter: blur(27px);
  }
  .contacts_form__info-info {
    width: 100%;
    font-size: 4.8vw;
  }
  .contacts_form__info__email {
    font-size: 7.2vw;
  }
  .contacts_form__info__email svg {
    width: 11.46666vw;
  }
  .request {
    padding-bottom: 0;
  }
  .request__title {
    display: none;
  }
  .request_form__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .request_form__form-inp {
    width: 100%;
    font-size: 3.733vw;
  }
  .request_form__form-inp:last-of-type {
    width: 100%;
  }
  .request_form__form__btn {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .request_form__form__btn-text {
    display: block;
  }
  .btn-detailed {
    width: 14.4vw;
    height: 14.4vw;
  }
  .btn-detailed svg {
    width: 4.2666vw;
  }
}