.portfolio {
  position: relative;
  padding-top: 15.1rem;
  overflow: hidden;
  margin: 0;
  &_main {
    &-gradient {
      position: absolute;
      top: 18rem;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    &__img {
      position: relative;
      width: 59.0625vw;
      display: flex;
      gap: 9.4rem;
      align-items: center;
      &-left {
        position: relative;
        width: 18.1770833vw;
        height: 36.45833333vw;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.9s;
          transform-origin: bottom right;
          will-change: transform;
        }
      }
      &-right {
        position: relative;
        width: 35.78125vw;
        height: 45.3125vw;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          will-change: transform;
          transition: transform 0.9s;
        }
      }
      &-right,
      &-left {
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      &-title {
        position: absolute;
        right: -30.3rem;
        top: 38rem;
        font-weight: 700;
        font-size: 3.17708333vw;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.2);
        transform: rotate(90deg);
      }
    }
    &_container {
      position: relative;
      padding: 0rem 9.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 14rem;
      width: 24.895833vw;
      &-title {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        font-size: 2.604166vw;
        color: #ffffff;
      }
      &_advantage {
        position: relative;
        width: 10.104166vw;
        font-size: 1.25vw;
        font-weight: 700;
        line-height: 1.3;
        &::after {
          content: '10';
          position: absolute;
          top: 0;
          left: 0;
          color: rgba(209, 209, 209, 0.4);
          width: fit-content;
          height: fit-content;
          font-size: 11.25vw;
          z-index: -1;
          -webkit-animation: 1s ease-in animNumb;
          animation: 1.5s animNumb;
          line-height: 0.76;
        }
        &-title {
          color: #d01181;
        }
        &-description {
          color: #ffffff;
        }
      }
    }
  }
  // анимация для числа 10
  @keyframes animNumb {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 11.25vw;
    }
  }

  &_projects {
    &_container {
      padding: 0rem 9.8rem;
      display: flex;
      gap: 7.8rem;
      flex-direction: column;
    }
    &__title {
      position: relative;
      color: #f9fbfe;

      &-title {
        width: 35.8854166vw;
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        font-size: 2.604166vw;
      }
      &-subtitle {
        position: absolute;
        width: 27.7083333vw;
        top: 8.3rem;
        left: 35rem;
        font-weight: 500;
        font-size: 0.9375vw;
        color: #f9fbfe;
      }
    }
    &__filter {
      border: 1px solid rgb(118 118 118 / 26%);
      font-weight: 600;
      font-size: 0.9375vw;
      &_all {
        margin-left: 20rem;
        height: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
        color: #fff;
        transition: all 0.4s ease-in-out;
        &-btn {
          position: relative;
          width: fit-content;
          padding: 1rem 0rem;
          transition: color 0.4s;
          cursor: pointer;
          &:hover {
            color: #d01181;
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0.5rem;
            height: 1px;
            width: 0;
            transform-origin: center;
            background-color: #d01181;
            transform: translateX(-50%);
            transition: width 0.4s;
          }
        }
      }
      li {
        position: relative;
        width: fit-content;
        cursor: pointer;
        padding: 1rem 0rem;
        transition: color 0.4s;
        &:hover {
          color: #d01181;
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0.5rem;
          height: 1px;
          width: 0;
          transform-origin: center;
          background-color: #d01181;
          transform: translateX(-50%);
          transition: width 0.4s;
        }
      }
      &-category {
        position: relative;
        flex: 0 0 max-content;
        font-weight: 600;
        font-size: 0.9375vw;
        color: #a1acb9;
        cursor: pointer;
        width: fit-content;
        transition: all 0.5s;
        &:hover {
          color: #d01181;
          // border-bottom: 1px solid #d01181;
          &::after {
            width: 100%;
            // visibility: visible;
          }
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 1px;
          background-color: #d01181;
          transition: width 0.5s ease;
          // visibility: hidden;
        }
      }
    }
    &-filter {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem 2rem;
      gap: 2.4rem;
      background: rgba(16, 16, 16, 0.1);
      backdrop-filter: blur(0.5rem);
    }
    &__projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      // gap: 5.4rem;
      row-gap: 5.4rem;
      color: #ffffff;

      &-img {
        height: 21.875vw;
        img {
          height: 100%;
        }
      }
      &-item {
        display: block;
        width: 42.689583vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &:hover {
          .portfolio_projects__projects_text-title {
            color: #d01181;
          }
          .portfolio_projects__projects-category_gradient {
            left: 60%;
            filter: blur(15px);
            // right: 0;
          }
        }
      }
      &_text {
        padding: 4rem 4rem 0rem 4rem;
        font-weight: 500;
        font-size: 0.9375vw;
        background: #222222;
        flex: 1;
        &-container {
          position: relative;
          height: 0rem;
          overflow: hidden;
          transition: height 0.4s ease-in;
        }
        &-title {
          padding-bottom: 2.4rem;
          font-weight: 600;
          font-size: 1.5625vw;
          transition: 0.5s;
        }
        &-subtitle {
          margin-top: 1.6rem;
          padding-bottom: 1.6rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        &-description {
          padding-right: 7rem;
          margin-top: 2.4rem;
          padding-bottom: 4rem;
          line-height: 1.5;
          b {
            color: #d01181;
          }
        }
      }
      &-category {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-weight: 600;
        font-size: 0.9375vw;
        overflow: hidden;
        &_gradient {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 22.96875vw;
          transition: left 0.5s ease; /* Добавляем переход для свойств left и right */
        }
      }
    }
    &__next {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 7.8125vw;
      height: 7.8125vw;
      background-color: #d01181;
      border-radius: 50%;
      gap: 1.5rem;
      margin: 0 auto;
      transition: all 0.3s;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background-color: white;
        border-radius: 50%;
        transition: all 0.4s;
      }
      svg {
        width: 1.4583333vw;
        z-index: 2;
      }
      &-text {
        margin-bottom: -1.5rem;
        width: 4.8958333vw;
        font-weight: 600;
        font-size: 0.78125vw;
        text-align: center;
        text-transform: uppercase;
        color: #f9fbfe;
        z-index: 2;
      }
      &:hover {
        svg path {
          fill: #d01181;
        }
        .portfolio_projects__next-text {
          color: #d01181;
        }
        &::after {
          width: 100%;
          height: 100%;
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
  .btn-show_more {
    justify-content: center;
  }
}
.text-visible {
  height: 29.7rem;
}
.title-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.filter-open {
  padding: 0rem 2rem 2rem 0rem;
  height: 31.6rem;
}

@media (max-width: 48em) {
  .filter-open {
    height: 36.6rem;
  }
  .portfolio_projects__filter_all {
    margin-left: 12rem;
    .portfolio_projects__filter-category {
      font-size: 3.0666vw;
    }
  }
  .btn-show_more--text {
    display: none;
  }
  .portfolio {
    padding-top: 28rem;
    &_main {
      &-gradient {
        position: absolute;
        width: 300vw;
        height: 250vw;
        top: 20rem;
        left: -38rem;
        transform: rotate(6deg);
        z-index: -1;
      }
      &__img {
        position: absolute;
        width: 62.4vw;
        height: 77.333vw;
        top: 0;
        right: 2rem;
        z-index: -1;
        gap: 4rem;
        &-left {
          width: 19.38666vw;
          height: 62.22133vw;
        }
        &-right {
          width: 37.837333vw;
          height: 77.333vw;
        }
        img {
          width: 100%;
          height: 100%;
        }
        &-title {
          display: none;
        }
      }
      &_container {
        padding: 0rem 2rem;
      }
      &__info {
        padding-top: 15.6rem;
        width: 100%;

        &-title {
          font-size: 7.2vw;
          color: #ffffff;
        }
        &_advantage {
          position: relative;
          width: 51.73333vw;
          font-size: 4.8vw;
          &::after {
            content: '10';
            font-size: 41.25vw;
            animation: 1.5s animNumbMob;
          }
        }
      }
    }
    @keyframes animNumbMob {
      0% {
        font-size: 0;
      }
      100% {
        font-size: 41.25vw;
      }
    }

    &_projects {
      &_container {
        padding: 0rem 2rem;
        gap: 8rem;
      }
      &__title {
        position: relative;
        &-title {
          width: 100%;
          font-size: 7.2vw;
        }
        &-subtitle {
          position: relative;
          margin-top: 2.4rem;
          width: 100%;
          top: auto;
          left: auto;
          font-size: 3.733vw;
        }
      }
      &__filter {
        &-category {
          font-size: 4.2666vw;
        }
        &_all-btn {
          font-size: 3vw;
          width: 14rem;
        }
      }
      &-filter {
        width: 100%;
        padding: 3rem 4rem;
        gap: 2.4rem;
      }
      &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // gap: 5.4rem;
        row-gap: 8rem;
        color: #ffffff;
        &-img {
          height: 66.6666vw;
        }
        &-item {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        &_text {
          padding: 4rem;
          font-weight: 500;
          font-size: 4.2666vw;
          background: #222222;
          flex: 1;
          &-title {
            padding-bottom: 3rem;
            font-size: 4.8vw;
            border-bottom: 1px solid rgba(72, 87, 141, 0.2);
          }
          &-subtitle {
            margin-top: 3rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid rgba(72, 87, 141, 0.2);
          }
          &-description {
            padding-right: 0rem;
            margin-top: 3rem;
            padding-bottom: 4.8rem;
            line-height: 1.2;
          }
        }
        &-category {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          padding: 4.4rem;
          border: 1px solid rgba(255, 255, 255, 0.2);
          font-size: 4.8vw;
          overflow: hidden;
          &_gradient {
            width: 100%;
            height: 100%;
            img {
              height: 100%;
            }
          }
        }
      }
      &__next {
        width: 30.93333vw;
        height: 30.93333vw;

        svg {
          width: 5.333333vw;
        }
        &-text {
          width: 16vw;
          font-size: 2.9333vw;
        }
      }
    }
  }
  .text-visible {
    height: auto;
  }
}
