@keyframes thumbAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.benefits {
  padding-top: 13.5rem;
  &_container {
    padding-bottom: 20rem;
    display: flex;
    justify-content: space-between;
    gap: 9.7rem;
    animation: thumbAnim 2s ease;
  }
  &_services {
    padding-bottom: 20rem;
    animation: thumbAnim 2s ease;
    overflow: hidden;
    &__title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 9rem;
      &_container {
        position: relative;
        width: 39.53125vw;
      }
      &-title {
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        font-size: 2.604166vw;
        line-height: 1.3;
        color: #f9fbfe;
      }
      &-subtitle {
        position: absolute;
        top: 9rem;
        left: 26rem;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9375vw;
        line-height: 150%;
        color: #f9fbfe;
      }
    }
    &__show_more {
      display: flex;
      align-items: center;
      gap: 2.1rem;
    }
    &_list {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 5rem;
      &-service {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 20.52083vw;
        height: 100%;
        cursor: pointer;
        &:hover {
          .service_img img {
            transform: scale(1.2);
          }
          .service__title {
            color: #d01181;
          }
        }
      }
    }
  }
}
.aim {
  width: 19.270833vw;
  padding-top: 18.5rem;
  &__img {
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
      z-index: 1;
      clip-path: polygon(0% 0%, 0% 99%, 100% 99%, 100% 8%, 90% 0);
    }
  }
  &__description {
    padding-left: 9.8rem;
    color: #f9fbfe;
    padding-top: 3.2rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.25vw;
    padding-bottom: 1rem;
    // line-height: 140%;
  }
  &__subscription {
    font-weight: 500;
    font-size: 0.9375vw;
    line-height: 150%;
  }
}
.complex {
  position: relative;
  width: 74.3229166vw;
  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 7.8125vw;
    height: 7.8125vw;
    border-radius: 50%;
    background: #d01181;
  }
  &_signature {
    left: -44rem;
    position: absolute;
    bottom: 39.9rem;
    font-size: 3.177083vw;
    // line-height: 77px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1);
    transform: rotate(-90deg);
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 8.8rem 9.8rem 12.4rem 8.8rem;
    height: fit-content;
  }
  &__subscription {
    width: 30.04166vw;
    &-subtitle {
      font-weight: 600;
      font-size: 0.9375vw;
      // line-height: 23px;
      color: #d01181;
      margin-bottom: 3.2rem;
    }
    &-title {
      font-weight: 500;
      font-family: 'akzidenz-grotesk';
      font-size: 2.60416vw;
      line-height: 1.3;
      color: #222222;
      margin-bottom: 7.5rem;
    }
    &-btn {
      width: fit-content;
      height: fit-content;

      font-weight: 600;
      font-size: 0.78125vw;
      // line-height: 19px;
      text-transform: uppercase;
      color: #f9fbfe;
    }
  }

  &_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__advantages {
    position: relative;
    width: 100%;
    padding-bottom: 6rem;
    padding-left: 20rem;
    overflow: hidden;
    &__list {
      width: 54vw;
      margin: 0 auto;
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 0.6rem;
      &__wrapper {
        gap: 0.6rem;
      }
      .swiper-slide {
        width: auto;
        height: auto;
        flex-shrink: 1;
      }
      .advantages__list__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        padding: 3.3rem 2.4rem 3.2rem 2.4rem;
        background: #f9fbfe;
        border-radius: 2px;
        text-align: left;
        .item-title {
          font-family: 'akzidenz-grotesk';
          font-weight: 500;
          font-size: 2.5rem;
          line-height: 2.8rem;
          color: #101010;
        }
        .item-subscription {
          font-weight: 500;
          font-size: 0.78125vw;
          line-height: 140%;
          color: #a1acb9;
        }
      }
    }
  }
}
.gradient_blur {
  position: absolute;
  width: 100%;
  top: 15.2rem;
  height: 196.1rem;
  img {
    width: 100%;
    height: 100%;
  }
  z-index: -1;
}

.service_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s;
  }
}
.service__title {
  font-weight: 600;
  font-size: 1.5625vw;
  line-height: 140%;
  color: #ffffff;
  transition: color 0.3s;
}
.show_more-all {
  font-weight: 600;
  font-size: 0.78125vw;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.697916666vw;
  height: 3.697916666vw;
  padding: 2.8rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.3s;
}
@keyframes first {
  0% {
    opacity: 1;
    // width: 49.3rem;
    // right: 0rem;
  }
  100% {
    // width: 84.7rem;
    // right: -96.5rem;
    opacity: 0;
  }
}
@keyframes second {
  0% {
    width: 29.2rem;
    height: 22.917rem;
    top: 43rem;
    left: 49rem;
  }
  100% {
    width: 29.198rem;
    height: 20.2rem;
    top: 56rem;
    left: 0;
  }
}
@keyframes third {
  0% {
    width: 17.1875vw;
    height: 20.272rem;
    top: 56rem;
  }
  100% {
    top: 0;
    left: 0;
    width: 49.3rem;
    height: 34.2rem;
    // top: 0rem;
    // right: -96.5rem;
    // width: 84.7rem;
    // height: 81.8rem;
  }
}
@keyframes last {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim1 {
  animation: first 0.5s ease;
}
.anim2 {
  animation: third 0.5s ease;
}
.anim3 {
  animation: second 0.5s ease;
}
.last {
  animation: last 0.5s ease;
}
.projects {
  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8.2rem;
    &-title {
      font-family: 'akzidenz-grotesk';
      font-weight: 500;
      font-size: 2.604166vw;
      line-height: 130%;
      color: #f9fbfe;
    }
    &__show_more {
      display: flex;
      align-items: center;
      gap: 2.1rem;
      .show_more-all {
        font-weight: 600;
        font-size: 0.78125vw;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
      .btn-show {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.697916666vw;
        height: 3.697916666vw;
        border-radius: 50%;
        background-color: #ffffff;
        transition: all 0.3s;
      }
    }
  }
  &_slider {
    &_container {
      display: flex;
      justify-content: space-between;
      padding-right: 9.8rem;
    }
    &__thumbs {
      position: relative;
      width: 40.885416vw;
      height: 100%;
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: brightness(0.5);
        gap: 2rem;
        color: white;
        &_title {
          display: flex;
          position: relative;
          font-size: 2.2rem;
          font-weight: 600;
          align-self: flex-start;
          margin-left: 4rem;
        }
        &:first-child {
          position: absolute;
          right: -96.5rem;
          width: 84.7rem;
          height: 81.8rem;

          img {
            width: 100%;
            height: 100%;
          }
          // .projects_slider__thumbs-item_title {
          //   margin-left: -2rem;
          // }
        }
        &:nth-child(2) {
          position: absolute;
          width: 100%;
          padding-bottom: 11.8rem;
          width: 49.3rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &:nth-child(3) {
          position: absolute;
          width: 15.20833vw;
          top: 56rem;
          img {
            width: 100%;
            height: 100%;
          }
        }

        &.last {
          position: absolute;
          width: 29.2rem;
          top: 43rem;
          left: 49rem;
          opacity: 1;
          transition: opacity 0.5s ease;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &:nth-child(4) {
          position: absolute;
          width: 29.2rem;
          top: 43rem;
          left: 49rem;
          opacity: 1;
          transition: opacity 0.5s ease;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.swiper_slide__title {
  position: absolute;
  top: 6rem;
  left: 6.7rem;
  font-weight: 600;
  font-size: 1.5625vw;
  line-height: 1.4;
  color: #f9fbfe;
}
.slide_item {
  position: absolute;
  width: 100%;
  // height: 205px;
  bottom: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #ffffff;
  &-name {
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.4;
    padding: 7.7rem 4.2rem 9.4rem 5rem;
  }
  &__square {
    padding: 7rem 4.2rem;
  }
  .square_name {
    font-weight: 500;
    font-size: 0.9375vw;
    line-height: 1.5;
  }
  .square__numb {
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 140%;
  }
  &__description {
    text-align: initial;
    padding: 2rem 4.2rem;
    font-weight: 500;
    font-size: 0.9375vw;
    line-height: 1.5;
    flex: 1 0 22.6041666vw;
    color: #101010;
  }
}
.last_news {
  margin-bottom: 0;
  overflow: hidden;
  &_container {
    display: flex;
    flex-direction: column;
    gap: 7.8rem;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    &-text {
    }
  }
  &__navigation {
    display: flex;
    gap: 3.5rem;
    &-prev {
      position: relative;
      width: 4.5rem;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        .arrow_fill-prev {
          position: absolute;
          top: 0;
          left: 0;
          svg path {
            stroke: #d01181;
            clip-path: inset(0 0 0 0);
          }
        }
      }
    }
    &-next {
      position: relative;
      width: 4.5rem;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        .arrow_fill-next {
          position: absolute;
          top: 0;
          left: 0;

          svg path {
            stroke: #d01181;
            clip-path: inset(0 0 0 0);
          }
        }
      }
    }
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    &-item {
      position: relative;
      width: 54.2rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      overflow: hidden;
      cursor: pointer;
      &:hover {
        .last_news__list_bottom-gradient {
          width: 220%;
          height: 150%;
          left: -62rem;
          top: -25rem;
        }
      }
      &_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
        padding: 4.5rem 3.7rem;
      }
    }
    &-img {
      position: relative;
      width: 100%;
      height: 24rem;
      img {
        height: 100%;
      }
    }
    &-title {
      width: 22.802083vw;
      font-weight: 600;
      font-size: 3rem;
      line-height: 1.4;
      color: #ffffff;
      text-align: left;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 14.6rem;
        height: 4.8rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-left: none;
        border-right: none;
      }
      p {
        text-align: left;
        padding: 0.6rem 3.7rem;
      }
    }
    &_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-chapter {
        width: 8.6rem;
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: rgba(255, 255, 255, 0.4);
        overflow: hidden;
      }
      &-text {
        width: 27.2rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #ffffff;
      }
      &-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 1.5s;
        img {
          width: 157%;
          height: 104%;
        }
      }
    }
  }
}

// Swiper
.swiper-slider {
  position: relative;
  width: 49.322916vw;
  height: 42.604166vw;
  overflow: hidden;
  animation: thumbAnim 2s ease;
}
.swiper-thumbs {
  width: 20%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.swiper-thumbs .swiper-slide {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  // background-color: #ccc;
  cursor: pointer;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

@media (max-width: 48em) {
  .container {
    padding: 0rem 2rem;
  }
  .benefits {
    position: relative;
    padding-top: 27.2rem;
    overflow: hidden;
    .gradient_blur {
      width: 268vw;
      top: 18.6rem;
      height: 416, 2346vw;
      z-index: -1;
      left: -38.4rem;
    }
    &_container {
      // padding: 2.7px 2rem;
    }
    &_services {
      padding-top: 2.5rem;
      &__show_more {
        .show_more-all {
          font-size: 2.93333vw;
        }
        .btn-show {
          padding: 0rem;
          width: 14.4vw;
          height: 14.4vw;
          svg {
            width: 4.266vw;
          }
        }
      }
      &__title {
        flex-direction: column;
        gap: 6.5rem;
        &-title {
          font-size: 7.2vw;
        }
        &-subtitle {
          position: relative;
          top: auto;
          left: auto;
          font-size: 3.7333vw;
        }
        &_container {
          display: inline-flex;
          flex-direction: column;
          gap: 2.4rem;
          width: 100%;
        }
      }
      &_list {
        gap: 2rem;
        &-service {
          width: 73.86666vw;
        }
      }

      &__more {
        top: 20rem;
        left: 48rem;
        .btn-detailed {
          gap: 0.5rem;
          width: 14.4vw;
          height: 14.4vw;
          svg {
            width: 3.2666vw;
            height: 3.2666vw;
          }

          .btn-services_more {
            font-size: 1.78125vw;
          }
        }
      }
    }
  }
  .aim {
    display: none;
  }
  .complex {
    width: 100%;
    &_signature {
      bottom: auto;
      top: -6rem;
      font-size: 50px;
      width: max-content;
      left: -25rem;
      transform: rotate(0deg);
    }
    &__container {
      padding: 6.3rem 2rem 8rem 2rem;
    }
    &__subscription {
      width: 100%;
      &-subtitle {
        margin-bottom: 1.2rem;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #d01181;
      }
      &-title {
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        font-size: 5.4rem;
        line-height: 1.25;
        color: #222222;
      }
      &-btn {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .btn-detailed {
          width: 30.9333vw;
          height: 30.9333vw;
          gap: 2rem;
        }
        .complex-btn-text {
          font-size: 2.933333vw;
        }
        svg {
          width: 5.33333vw;
        }
      }
    }
    &__logo {
      display: none;
    }
    &__advantages {
      padding-left: 2rem;
      &__list {
        width: 100%;
        justify-content: flex-start;
        &__wrapper {
          gap: 0;
        }
      }
    }
    .advantages__list__item {
      padding: 3rem 6rem 8rem 4rem;
      .item-title {
        font-size: 4.8vw;
        line-height: 1.2;
      }
      .item-subscription {
        font-size: 3.73333vw;
      }
      // &:nth-of-type(2) {
      //   width: 82.133vw;
      // }
    }
  }

  .service {
    &_img {
      width: inherit;
    }
    &__title {
      font-size: 4.8vw;
    }
  }
  .projects {
    &__title {
      flex-direction: column;
      gap: 5rem;
      padding-bottom: 8.2rem;
      &-title {
        font-size: 7.2vw;
      }
      &__show_more {
        .show_more-all {
          font-size: 2.9333333vw;
        }
        .btn-show {
          padding: 0rem;
          width: 14.4vw;
          height: 14.4vw;
          svg {
            width: 4.266vw;
          }
        }
      }
    }
    &_slider {
      &__thumbs {
        display: none;
      }
      .swiper-nav {
        padding-top: 5.8rem;
        display: flex;
        justify-content: flex-end;
        gap: 4.8rem;
        .swiper-prev {
          width: 9rem;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      &_container {
        padding-right: 0rem;
      }
      .swiper-container {
        width: 93.333vw;
        // height: 540px;
        height: 144vw;
        margin: 0 auto;
        padding: 0;
        .swiper_slide__title {
          top: 4rem;
          left: 4rem;
          font-size: 4.8vw;
        }
      }
    }
  }
  .slide_item {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0rem 4rem;
    &-name {
      width: 100%;
      padding: 5rem 0rem 3.5rem 0rem;
      font-size: 4.8vw;
      border-bottom: 1px solid rgba(72, 87, 141, 0.2);
    }
    &__square {
      width: 100%;
      padding: 1rem 0rem 1.25rem 0rem;
      border-bottom: 1px solid rgba(72, 87, 141, 0.2);
      .square_name {
        font-size: 4.2666vw;
        color: #a1acb9;
      }
      .square__numb {
        font-size: 4.8vw;
      }
    }
    &__description {
      padding: 2rem 0rem 4rem 0rem;
      font-size: 4.2666vw;
    }
  }
  .btn-detailed {
    &::before {
      box-shadow: inset 0 0 0 12rem #ffffff;
    }
  }
  .last_news {
    &_container {
      display: flex;
      flex-direction: column;
      gap: 7.8rem;
    }
    &__title {
      font-size: 5.4rem;
      line-height: 1.2;
      &-text {
      }
    }
    &__navigation {
      display: none;
    }
    &__list {
      &-item {
        position: relative;
        width: 54.2rem;
        height: 83.8rem;
        &:hover {
          .last_news__list_bottom-gradient {
            width: 158%;
            height: 116%;
            left: 0;
            top: -10rem;
            transform: none;
          }
        }
        &_container {
          height: 43.2rem;
          padding: 2rem 2rem 4.6rem 2rem;
        }
      }
      &-img {
        width: 100%;
        height: 40.4rem;
        img {
          height: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 0 73%);
        }
      }
      &-title {
        width: 51.2vw;
        font-size: 3.6rem;
        font-family: 'akzidenz-grotesk';
        font-weight: 500;
        height: 16rem;
        overflow: hidden;
        &::after {
          bottom: 25.7rem;
        }
      }
      &_bottom {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        text-align: left;
        gap: 2.2rem;
        &-gradient {
          width: 158%;
          height: 116%;
          z-index: -1;
          transform: rotate(31deg) translate(-12.8rem, 4.4rem);
          img {
            width: 157%;
            height: 104%;
          }
        }
        &-chapter {
          text-transform: lowercase;
          width: 10rem;
          font-size: 3.2rem;
        }
        &-text {
          width: 100%;
          font-size: 2.8rem;
          line-height: 1.35;
        }
      }
    }
  }
}
