.swiper-container {
  // justify-content: space-between;
  // padding-right: 9.8rem;
}
.swiper-wrapper {
}

.swiper-slide {
  // width: 100%;
  // height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-slide-thumb-active {
  /* стили для активной миниатюры */
  display: none !important;
  //   border: 1px solid #c72323;
}
.swiper-button-next,
.swiper-button-prev {
  width: 7.7604166vw;
  height: 7.7604166vw;

  // color: #fff;
  // background: #d01181;
  // box-shadow: 2rem 3rem 6rem rgba(147, 11, 91, 0.4);
  // border-radius: 50%;
  transition: all 0.3s;
  // &:hover {
  //   background-color: #bb0c72;
  // }
  svg {
    width: 2.1875vw;
  }
  .btn-next,
  .btn-back {
    font-weight: 500;
    font-size: 0.78125vw;
    line-height: 1.2;
    text-transform: uppercase;
    color: #f9fbfe;
  }
  .back {
    transform: rotate(180deg);
  }
  &::after {
    content: '' !important;
    background-color: #ccc;
  }
}
.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  left: auto;
  right: 20rem;
  top: auto;
  bottom: 20rem;
}

.projects_slider_container .swiper-button-next {
  position: relative;
  height: 2rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 1rem;
  transform: none;
  &-gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .btn-show_more-text_container {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      opacity: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: width 0.9s ease, opacity 0.9s ease;
    }
    .btn-show_more-hover_container {
      position: relative;
      opacity: 1;
      width: 100%;
      transition: width 1s ease;
    }
    .btn-show_more--icon .arrow_fill-next {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      svg {
        fill: white;
      }
      svg path {
        fill: #fff;
        clip-path: inset(0 0 0 0);
      }
    }
  }
}

@media (max-width: 48em) {
  .swiper-container {
    display: flex;
    flex-direction: column;
  }
  .projects_slider_container .swiper-button-next {
    display: none;
  }
}
