@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 300;
  src: url('../fonts/Euclid Circular A Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 400;
  src: url('../fonts/Euclid Circular A Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 500;
  src: url('../fonts/Euclid Circular A Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 600;
  src: url('../fonts/Euclid Circular A SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Euclid Circular A';
  font-weight: 700;
  src: url('../fonts/Euclid Circular A Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'akzidenz-grotesk';
  font-weight: 900;
  src: url('../fonts/akzidenz-grotesk/akzidenzgroteskpro-BoldEx.ttf') format('truetype');
}
@font-face {
  font-family: 'akzidenz-grotesk';
  font-weight: 400;
  src: url('../fonts/akzidenz-grotesk/akzidenzgroteskpro_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'akzidenz-grotesk';
  font-weight: 500;
  src: url('../fonts/akzidenz-grotesk/akzidenzgroteskpro_mdex.ttf') format('truetype');
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  // overflow: hidden;
}
.title {
  font-family: 'akzidenz-grotesk';
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.3;
  color: #f9fbfe;
}
.contacts_form {
  position: relative;
  padding-top: 20.2rem;
  // margin-bottom: 20rem;
  padding-bottom: 20rem;
  // overflow: hidden;
  overflow: hidden;

  &_gradient {
    position: absolute;
    width: 17.1354166vw;
    height: 12.08333vw;
    // left: 16rem;
    // top: 30rem;
    left: 23rem;
    top: 38rem;
    z-index: -1;
    -webkit-filter: blur(10rem);
    filter: blur(8rem);
    transform: rotate(-154.06deg);
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    gap: 5.7rem;
    &-request_title {
      display: none;
      font-size: 7.2vw;
      font-family: 'akzidenz-grotesk';
      font-weight: 500;
      color: #f9fbfe;
    }
    &-title {
      position: relative;
      display: flex;
      align-items: end;
      font-weight: 600;
      font-size: 2.4rem;
      color: #d01181;
      width: 15.147917vw;
      font-weight: 700;
      line-height: 1.4;
      span {
        span {
          display: inherit;
        }
      }
    }
    &-img {
      width: 38.489583vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_description {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 5.6rem;
      // margin-bottom: 5.6rem;
      flex: 1;
      font-weight: 700;
      font-size: 1.25vw;
      text-align: right;
      color: #ffffff;
    }
    &__img_gradient {
      position: absolute;
      right: -2rem;
      z-index: -1;
      top: -10rem;
      width: 27.8125vw;
      img {
        width: 100%;
        height: 100%;
      }

      // background: linear-gradient(164.53deg, #86a4bf 27.69%, rgba(165, 198, 228, 0) 66.52%),
      //   #d01181;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // filter: blur(36px);
      // transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &-info {
      width: 18.4375vw;
      margin-left: auto;
      line-height: 1.4;
    }
    &__email {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: 'akzidenz-grotesk';
      font-weight: 500;
      font-size: 2.604166666vw;
      font-size: 4rem;
      line-height: 1.3;
      color: #ffffff;

      svg {
        width: 2.2395833vw;
      }
    }
  }
}
.btn-about {
  width: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: fit-content;
  cursor: pointer;
  // background: #ffffff;
  // border-radius: 50%;
  // overflow: hidden;
  // svg {
  //   width: 1.145833vw;
  //   height: 1.145833vw;
  //   z-index: 2;
  // }
  // svg path {
  //   transition: all 0.4s;
  // }
  // &::before,
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   transition: all 0.4s ease;
  //   border-radius: 50%;
  //   z-index: 1;
  // }
  // &:hover svg path {
  //   fill: #fff;
  // }
  // &::after {
  //   box-shadow: inset 0 0 0 1px #ffffff;
  // }
  // &::before {
  //   background: #d01181;
  //   box-shadow: inset 0 0 0 60px #ffffff;
  // }
  // &:hover::before {
  //   box-shadow: inset 0 0 0 1px #ffffff;
  // }
  // &:hover::after {
  //   box-shadow: inset 0 0 0 1px #d01181;
  // }
}

.btn-show_more {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.78125vw;
  &--icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 2.8rem;
    height: 1.5rem;
    svg {
      width: 2.8rem;
      height: 1.5rem;
      // width: 100%;
      // height: 100%;
    }
  }

  &-container {
    position: relative;
    width: fit-content;
  }
  &-hover_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1.2;
    z-index: 3;
    font-size: 0.78125vw;
    font-weight: 600;
    opacity: 0;
    color: rgba(208, 17, 129, 1);
  }
  &-text_container {
    display: flex;
    justify-content: end;
    right: 0;
    width: 100%;
    line-height: 1.2;
    font-weight: 600;
    transition: color 0.9s ease;
  }
  &-text_container.complex_btn-text {
    // color: rgba(208, 17, 129, 1);
  }
  &-hover_container.complex_btn-text {
    color: rgba(208, 17, 129, 1);
  }
  .arrow_next-text_container {
    display: flex;
    justify-content: end;
    right: 0;
    width: 100%;
    height: -webkit-fill-available;
    transition: color 0.9s ease;
    svg path {
      // width: 2.449rem;
      // height: 1.295rem;
      // stroke: rgba(208, 17, 129, 1);
      fill: rgba(208, 17, 129, 1);
      // clip-path: inset(0 0 0 0);
    }
  }
  .arrow_next-hover_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1.2;
    z-index: 3;
    font-size: 0.78125vw;
    opacity: 0;
    height: -webkit-fill-available;
    svg path {
      // stroke: #000;
      fill: #000;
      // clip-path: inset(0 0 0 0);
    }
  }
  .text-hover {
    font-weight: 600;
    color: rgba(208, 17, 129, 1);
  }
  &:hover {
    .btn-show_more-text_container {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      opacity: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: width 0.9s ease, opacity 0.9s ease;
    }
    .btn-show_more-hover_container {
      position: relative;
      opacity: 1;
      width: 100%;
      transition: width 1s ease;
    }
    // .arrow_next-text_container {
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 0%;
    //   // opacity: 0;
    //   overflow: hidden;
    //   white-space: nowrap;
    //   transition: width 7.9s ease, opacity 0.9s ease;
    // }
    // .arrow_next-hover_container {
    //   position: relative;
    //   opacity: 1;
    //   width: 100%;
    //   transition: width 1s ease;
    // }

    .btn-show_more--icon .arrow_fill-next {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      svg {
        fill: white;
      }
      svg path {
        // stroke: #fff;
        fill: #fff;
        clip-path: inset(0 0 0 0);
      }
    }
    .btn-show_more--icon .banner-arrow {
      svg {
        fill: rgb(0, 0, 0);
      }
      svg path {
        // stroke: rgba(208, 17, 129, 1);
        fill: rgb(0, 0, 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
}
.complex_btn-text {
  color: #000;
}

// .btn-show {
//   position: relative;
//   svg {
//     z-index: 2;
//   }
//   svg path {
//     fill: #d01181;
//     transition: all 0.4s;
//   }
//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     transition: all 0.4s ease;
//     border-radius: 50%;
//     z-index: 1;
//   }
//   &::after {
//     box-shadow: inset 0 0 0 1px #ffffff;
//   }
//   &::before {
//     background: #d01181;
//     box-shadow: inset 0 0 0 8rem #ffffff;
//   }
//   &:hover {
//     svg path {
//       fill: #fff;
//     }
//     &::before {
//       box-shadow: inset 0 0 0 1px #ffffff;
//     }
//     &::after {
//       box-shadow: inset 0 0 0 1px #d01181;
//     }
//     span {
//       color: #fff;
//     }
//   }
// }

.email-contacts_form {
  position: relative;
  transition: all 0.4s;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    transform-origin: center;
    background-color: #d01181;
    transform: translateX(-50%);
    transition: width 0.4s;
  }
  &:hover {
    color: #d01181;
    &::after {
      width: 100%;
    }
  }
}

.request {
  padding: 3.2rem 0rem 2.5rem 0rem;
  &__title {
    font-family: 'akzidenz-grotesk';
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.3;
    color: #f9fbfe;
  }
  &_form {
    padding-top: 7.8rem;
    &__form {
      display: flex;
      align-items: center;
      gap: 5rem;
      &-inp {
        width: 12.760416vw;
        height: fit-content;
        font-weight: 600;
        font-size: 0.9375vw;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1.6rem 2rem;
        &:focus {
          border: 1px solid #d01181;
        }
        &:last-of-type {
          width: 37.65625vw;
        }
        &::placeholder {
          color: #fff;
        }
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        &-text {
          display: none;
          font-weight: 600;
          font-size: 2.93333vw;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
  }
}
.btn-detailed {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.697916666vw;
  height: 3.697916666vw;
  // padding: 2.8rem;
  background: #d01181;
  // box-shadow: 8px 5px 60px rgba(205, 66, 83, 0.3);
  border-radius: 50%;
  svg {
    width: 0.9375vw;
  }
}
.arrow_fill-prev {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
  svg path {
    width: 100%;
    height: 100%;
    fill: #d01181;
    transition: clip-path 0.5s ease;
    clip-path: inset(0 0 0 100%);
  }
}
.arrow_fill-next {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
  svg path {
    width: 100%;
    height: 100%;
    fill: #d01181;
    transition: clip-path 0.5s ease;
    clip-path: inset(0 100% 0 0);
  }
}
.last_news__navigation {
  display: flex;
  gap: 3.5rem;
  &-prev {
    position: relative;
    width: 4.5rem;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      .arrow_fill-prev {
        position: absolute;
        top: 0;
        left: 0;
        svg path {
          stroke: #d01181;
          clip-path: inset(0 0 0 0);
        }
      }
    }
  }
  &-next {
    position: relative;
    width: 4.5rem;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      .arrow_fill-next {
        position: absolute;
        top: 0;
        left: 0;

        svg path {
          stroke: #d01181;
          clip-path: inset(0 0 0 0);
        }
      }
    }
  }
}
@media (max-width: 48em) {
  .btn-show_more--icon svg {
    width: 100%;
    height: 100%;
  }
  .title {
    font-size: 7.1vw;
    line-height: 1.25;
  }
  .contacts_form {
    padding-top: 14rem;
    padding-bottom: 18rem;
    &_gradient {
      display: block;
      width: 98.4vw;
      height: 70.9333vw;
      bottom: 27rem;
      top: auto;
      left: -20rem;
      z-index: -1;
      -webkit-filter: blur(10rem);
      filter: blur(11rem);
      transform: rotate(0deg);
    }

    &__info {
      flex-direction: column;
      &-request_title {
        display: block;
      }
      &-title {
        width: 100%;
        font-size: 4.8vw;
        span {
          span {
            display: inline;
          }
        }
      }
      &-img {
        display: none;
        width: 66.66vw;
      }
      &_description {
        align-items: flex-start;
        text-align: left;
      }
      &__img_gradient {
        width: 82.6666vw;
        width: 110.133vw;
        top: -28rem;
        right: auto;
        left: 0;
        img {
          filter: blur(27px);
        }
      }
      &-info {
        width: 100%;
        font-size: 4.8vw;
      }
      &__email {
        align-items: flex-start;
        gap: 3.4rem;
        font-size: 7.2vw;
        svg {
          margin-left: -0.9rem;
          width: 11.46666vw;
          height: 11.46666vw;
        }
      }
    }
  }
  .request {
    padding-bottom: 0;
    &__title {
      display: none;
    }
    &_form {
      &__form {
        flex-direction: column;
        align-items: start;
        &-inp {
          width: 100%;
          font-size: 3.733vw;
          &:last-of-type {
            width: 100%;
          }
        }
        &__btn {
          width: 100%;
          justify-content: start;
          &-text {
            display: block;
          }
        }
      }
    }
  }
  .btn-detailed {
    width: 14.4vw;
    height: 14.4vw;
    svg {
      width: 4.2666vw;
    }
  }
  .btn-show_more {
    display: flex;
    gap: 1.5rem;

    &--text {
      font-size: 2.2rem;
    }
    &--icon {
      width: 5.6rem;
      height: 100%;
    }
  }
  .btn__submit {
    .btn-show_more--text {
      color: #d01181;
    }
    .btn-show_more-hover_container {
      display: none;
    }
    .btn-show_more--icon {
      display: none;
    }
  }
}
